#main-carrinho{
    display: flex;
    justify-content: center;
}
#main-carrinho-content{
    width: 70%;
}
.atualiza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#main-carrinho-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    float: none;
    width: auto;
}
.woocommerce-cart-form__cart-item{
    margin-top: 20px;
    background-color: #D7F6FD;
    font-size: 14px;
    width: 30vw;
    max-height: 92px;
    min-width: 385px;
    max-width: 385px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: black;
}

.product_thumbnail{
    width: 30%;
    margin: 0;
    min-width: 0;
    
    padding: 0 0 0 0;
}
.product_thumbnail a{
    display: none;
}


.woocommerce table.shop_table{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.atualiza{
    display:flex;
}
.woocommerce table.shop_table td{
    padding: 0;
}
.woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
    width: 100%;
    height: 90px;
    min-height: 90px;
    min-width: 90px;
}
#add_payment_method table.cart .product-thumbnail, .woocommerce-cart table.cart .product-thumbnail, .woocommerce-checkout table.cart .product-thumbnail{
    min-width: 0;
}
.woocommerce table.shop_table td{
    line-height: 1em;
}


@media only screen and (max-width: 768px){
.woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
     display: flex;
}}
@media only screen and (max-width: 768px){
.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr {
    display: flex;
}}
.atualiza{
    margin-top: 10px;
}
td.product-name::before{
    display: none;
}
td.product-name{
    height: 50px;
    position: relative;
    left: -65px;
    top:5px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 174px;
    font-size: 12px;
}
td.product-name a{
    text-decoration: none;
    pointer-events: none;
    
}
td.product-price::before{
    display: none;
}
td.product-thumbnail::before{
    display: none;
}
td.product-thumbnail a img{
    width: 92px;
}
td.product-quantity::before{
    display: none;
}
td.product-quantity{
    position: relative;
    top:65px;
    left: 13px;
    margin-right: 0;
    border: none;
}
td.product-price{
    position: relative;
    top: 70px;
    right: 13px;
}
@media only screen and (max-width: 768px){
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    display: flex;
    text-align: left;
}}
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    display: flex;
}