#shipping_country_field {
    display: none;
}

#form-btn-field{
    display: flex;
    justify-content: center;
}

/*.woocommerce-Input{
    border: none;
    border-bottom: solid 2px #6A066D;
    background-color: #E7FAFE;
}*/

#form-content p{
    margin: 1rem 0rem;
}

#form-text{
    margin: 0 0 -1rem 0;
}

label .required {
    display: none;
}

#edit_account form{
    background-color: red;
    padding: -2rem 0rem 0rem 0rem;
}

#btn{
    background-color: #6A066D;
    color: white;
    text-transform: uppercase;
}

.show-password-input{
    display: none;
}

input {
    border: none;
    border-bottom: solid 2px #6A066D;
}