#shipping_country_field {
    display: none;
}

.woocommerce{
    /*background-color: #E7FAFE;*/
}

.main-form{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: red;
    border: 0px;
}
#content-form{
    width: 70%;
}