body{font-family: 'Roboto';font-size: 18px; }
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#main-home{
    display: flex;
    justify-content: center;
}
#content-home{
    width: 70%;
}
#titulo-content-home{
    margin-top: 40px;
    text-align: center;
}
#texto-pratos-principais{
    margin-top: 40px;
}
.menu-categorias-container{
   
    margin: 10px 10px;
}
.menu-categorias-container ul{
    display: flex;
    justify-content: space-between;
}
.menu-item-119{
    width: 22%;
    text-align: center;
    font-size: 30px;

}
.menu-item-120{
    width: 22%;
    text-align: center;
    font-size: 30px;
}
.menu-item-120 a{
    background-image: none;
}
.menu-item-121{
    width: 22%;
    text-align: center;
    font-size: 30px;
}
.menu-item-122{
    width: 22%;
    text-align: center;
    font-size: 30px;
}
.dia-da-semana{
    padding-top: 5px;
    font-size: 24px;
}
#pratos-dia{
    margin-top: 20px;
}
#pratos-dia .lista-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#pratos-dia .lista-produtos li{
    width: 22%;
}

#content-home #pratos-dia .info-produto{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#content-home #pratos-dia .info-produto img{
    width: 100%;
    height: 70%;
}
#content-home #pratos-dia .info-produto h2{
    padding-top: 10px;
    width: 100%;
    font-size: 14px;
}
#Opcoes{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#Opcoes input{
    background-color: #F5C661;
    color: black;
    border: none;
    padding: 5px 10px;
}
#all-visite-loja{
    background-color: #7A247D;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 40px;
}
#visite-loja{
    color: white;
    width: 70%; 
}
#text-visite-loja{
    text-align: center;
    padding: 20px 0;
}
.foto-pessoas{
    width: 35vw;
    height: 40vh;
}
#all-content-loja{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-palavras{
    display: flex;
    margin: 10px 0;
}
.espacamento{
    padding: 0 5px;
}
#home-comes-bebes{
    background-color: #7A247D;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
#home-comes-bebes-content{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home-comes-bebes-titulo{
    margin-bottom: 0;
    margin-top: 0;
    color: #F5C661;
    padding-bottom: 15px;
}
#home-comes-bebes-text{
    color: white;
}