@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

.page-template-default .woocommerce {
    display: flex;
    flex-direction: column;
    font-family: 'Bellota Text';
    align-items: center;
}

.woocommerce-MyAccount-navigation {
    min-width: 100%;
    background-color: #F5C661;
    padding-top: 10px;
    padding-bottom: 10px;
}

.woocommerce-MyAccount-navigation ul li a{

    font-weight: bold;
    font-size: 24px;
    color: black;
}

.woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: space-around;
}

.woocommerce-MyAccount-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.woocommerce-MyAccount-content label {
    font-weight: bold;
}

.woocommerce-MyAccount-content input{
    border: none;
    border-bottom: solid 2px;
    border-color: #6A066D;
    background-color: #E7FAFE;
}

.woocommerce-address-fields p {
    display: flex;
    flex-direction: column;
}

.woocommerce-address-fields p .button {
    align-self: center;
    background-color: #6A066D;
    color: white;
    margin-top: 100px;
    margin-bottom: 25px;
    width: max-content;
    text-transform: uppercase;
}

#billing_country_field {
    display: none;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    margin-left: 65px;
    gap: 25px;
}

.woocommerce-account .addresses .title {
    width: 650px;
}

.woocommerce-account .addresses .title .edit {
    position: relative;
    top: 35px;
    color: #09A7B1;
    text-decoration: underline;

}

.address-container {
    margin-top: 10px;
    display: flex;
    width: max-content;
    gap: 50px;
}

.nome-cep{
    display: flex;
    gap: 100px;
    color: #6A066D;
    font-weight: bold;
} 

.enderecos{
    display: flex;
    flex-direction: column;
}

.woocommerce-message{
    background-color: #E7FAFE;
}