#main-show-single-product{
    display: flex;
    justify-content: center;
}

#show-single-product{
    width: 70%;
    margin-top: 45px;
}
#pa_porcoes{
    border: none;
    border-bottom: 2px solid #894391;
    background-color: #E7FAFE;
    height: 100%;
}
#compra-single{
    margin-top: 15px;
}
.cart{
    display: flex;
    flex-direction: row-reverse;
}
.content-escolha{
    display: flex;
    flex-direction: column;
}
.product_meta{
    position: fixed;
    right: 9000px;
}
.woocommerce div.product div.images{
    width: 35%;
    min-width: 245px;
}
.woocommerce div.product div.images img{
    margin: 0;
    width:100%;
    min-width: 245px;
    height: 100%;
    min-height: 165px;
}
div.images.woocommerce-product-gallery{
    float: none;
}
#sobre-o-produto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.woocommerce-page div.product div.summary{
    float: none;
}
.input-text{
    background-color: #E7FAFE;
}
.single_variation_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}
#right-buttom{
    display: flex;
    justify-content: flex-end;
    padding-right: 18px;
}
.value{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.tipo-categoria{
    text-transform: uppercase;
    margin-bottom: 30px;
}
.tipo-categoria a{
    pointer-events: none;
    color: black;
}
.desliga{
    pointer-events: none;
}
.alt{
    text-transform: uppercase;
    background-color: #8D4F92;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    float: none;
    min-width: 240px;
    min-height: 300px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 0;
}
.products{
    display: flex;
    flex-wrap: wrap;
}

.related{
    display: flex;
    flex-direction: column;
}
.woocommerce ul.products li.product a .size-woocommerce_thumbnail{
    height: 40vh;
    position: relative;
}

.woocommerce ul.products li.product a h2{
    position: relative;
    top: -115px;
    
    pointer-events: none;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    padding-bottom: 8px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    background:linear-gradient(to right, rgba(109, 12, 111, 1) , rgba(109, 12, 111,0.4));
}
.woocommerce ul.products li.product a .price{
    position: relative;
    top: -115px;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    background:linear-gradient(to right, rgba(109, 12, 111, 1) , rgba(109, 12, 111,0.4));
}
.woocommerce ul.products li.product a .price span{
    padding-left: 5px;
}
.woocommerce ul.products li.product .button{
    position: relative;
    top: -190px;
    left: 190px;
    width: 40px;
    height: 35px;
    background-color: #F5C661;
    padding: 0;
    
}
.img_single_2{
    width: 35px;
    height: 30px;
    background-image: url(assets/carrinho.png);
}



